[submodule "bochs"]
	path = bochs
	url = https://github.com/colemancda/bochs
[submodule "bochs-iphone"]
	path = bochs-iphone
	url = https://github.com/colemancda/bochs-iphone
[submodule "MBProgressHUD"]
	path = MBProgressHUD
	url = https://github.com/colemancda/MBProgressHUD.git
